<div class="span9">
  <input type="text" value="{{what_to_do}}" name="what_to_do" id="what_to_do_{{_id}}">
</div>
<div class="span3">
  <button data-url="/todos/{{_id}}" data-id="{{_id}}" class="update_todo btn" id="update_todo_{{_id}}">update</button>
</div>
