<div class="span9">
  <span class="handle {{#complete}}hide{{/complete}}">[drag]</span>
  {{what_to_do}}
</div>
<div class="todo_actions span3 {{#complete}}hide{{/complete}} btn-group">
  <button data-url="/todos/{{_id}}" class="complete_todo btn" id="complete_todo_{{_id}}">complete</button>
  <button data-url="/todos/{{_id}}/edit" class="edit_todo btn" id="edit_todo_{{_id}}">edit</button>
  <button data-url="/todos/{{_id}}" class="destroy_todo btn" id="destroy_todo_{{_id}}">delete</button>
</div>